= link_to 'Promoted by Third Parties', discussions_url(other_promoted: true), class: 'btn btn-primary'

= link_to 'Predicted to Trend', discussions_url(predicted: true), class: 'btn btn-primary'

= link_to 'Flagged on Trending', discussions_url(trending_flagged: true), class: 'btn btn-primary'

= link_to 'Ignored on Trending', discussions_url(trending_ignored: true), class: 'btn btn-primary'
