---
http_interactions:
- request:
    method: get
    uri: https://steemdb.com/api/downvotes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "_id": {
                    "doy": 4,
                    "year": 2017,
                    "month": 1,
                    "day": 4
                },
                "accounts": {
                    "0": {
                        "voter": "adm",
                        "votes": 12
                    },
                    "1": {
                        "voter": "nin0000",
                        "votes": 3
                    },
                    "2": {
                        "voter": "canadian-coconut",
                        "votes": 3
                    },
                    "3": {
                        "voter": "alamyrjunior",
                        "votes": 2
                    },
                    "4": {
                        "voter": "zacko1994",[...]
- request:
    method: post
    uri: https://steemd.steemt.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_votes",["inertia"]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"authorperm":"steempower/bitshares-state-of-the-network-3rd-january-2017","weight":0,"rshares":"167600508115","percent":10000,"time":"2017-01-16T14:50:03"},{"authorperm":"doitvoluntarily/brain-s-capacity-might-be-10x-what-we-previously-thought","weight":0,"rshares":"154449267792","percent":10000,"time":"2017-01-17T16:57:45"},{"authorperm":"contentjunkie/steemit-weekly-top-50-power-up-list-dec-17th-dec-23rd-2016","weight":"169839832289889979","rshares":"216615866896","percent":10000,"time":"2017-01-04T00:25:54"},{"authorperm":"elena-singer/i-want-to-be-the-voice-of-steemit","weight":"4491972927364227","rshares":"216616430515",[...]
- request:
    method: get
    uri: https://steemdb.com/api/rshares
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "_id": {
                    "doy": 4,
                    "year": 2017,
                    "month": 1,
                    "day": 4
                },
                "total_voters": 2045,
                "total_rshares": 3545994292275829,
                "voters": {
                    "0": {
                        "voter": "ned",
                        "votes": 21,
                        "rshares": 440501893103216
                    },
                    "1": {
                        "voter": "berniesanders",
                        "votes": 14,
                        "rshares": 216517750147868
                    },
                    "2": {
                        "voter": "blocktrades",
                        "votes": 5,
                    [...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["steemed",-1,200]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[[12682,{"trx_id":"fa04ecd0919a476b035a0e7a097b937c541da076","block":9169145,"trx_in_block":5,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-02-07T20:37:15","op":["comment",{"parent_author":"steemed","parent_permlink":"re-liondani-re-steemed-re-liondani-re-berniesanders-dan-still-trolling-ozchartart-20170206t195422457z","author":"val-a","permlink":"re-steemed-re-liondani-re-steemed-re-liondani-re-berniesanders-dan-still-trolling-ozchartart-20170207t203716821z","title":"","body":"Don''t
        you realize that all the changes devs propose affect *all stakeholders* equally?\nInstead
        of putting yourself into outsiders group and spread the FUD around it would
        be more productive to collaborate and work together to bring more value to
        the platform.","json_metadata":"{\"tags\":[\"steemit\"],\"app\":\"steemit/0.1\"}"}]}],[12683,{"trx_id":"d3270bcb2862a9aa2b7320f1cb378b8291f5f752","block":9169772,"trx_in_block":7,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-02-07T21:08:36","op":["vote",{"voter":"smooth","author":"steemed","permlink":"re-liondani-re-berniesanders-dan-still-trolling-ozchartart-20170206t191554921z","weight":3000}]}],[12684,{"trx_id":"4ca5364e27681bcc33055df304ee9b5db6be10d5","block":9169775,"trx_in_block":3,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-02-07T21:08:45","op":["vote",{"voter":"smooth","author":"steemed","permlink":"re-liondani-re-berniesanders-dan-still-trolling-ozchartart-20170206t191554921z","weight":0}]}],[12685,{"trx_id":"46097f27f0315a30cc4141e25001d26a5ad8fe7a","block":9170776,"trx_in_block":4,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-02-07T21:58:51","op":["feed_publish",{"publisher":"steemed","exchange_rate":{"base":"0.157
        SBD","quote":"1.000 STEEM"}}]}],[12686,{"trx_id":"0000000000000000000000000000000000000000","block":9171496,"trx_in_block":1,"op_in_trx":1,"virtual_op":0,"timestamp":"2017-02-07T22:34:54","op":["curation_reward",{"curator":"steemed","reward":"1579.768421
        VESTS","comment_author":"macksby","comment_permlink":"the-unexpected-dad-original-short-story"}]}],[12687,{"trx_id":"0000000000000000000000000000000000000000","block":9171862,"trx_in_block":2,"op_in_trx":1,"virtual_op":0,"timestamp":"2017-02-07T22:53:15","op":["fill_vesting_withdraw",{"from_account":"itsascam","to_account":"steemed","withdrawn":"227822554.882143
        VESTS","deposited":"109313.237 STEEM"}]}],[12688,{"trx_id":"0000000000000000000000000000000000000000","block":9171870,"trx_in_block":2,"op_in_trx":1,"virtual_op":0,"timestamp":"2017-02-07T22:53:39","op":["fill_vesting_withdraw",{"from_account":"steemroller","to_account":"steemed","withdrawn":"26608806.767493
        VESTS","deposited":"12767.369 STEEM"}]}],[12689,{"trx_id":"7ca17ef6eaf3e3835270069b50d99545d108465f","block":9174973,"trx_in_block":0,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-02-08T01:28:54","op"[...]
