---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"0.131 SBD","quote":"0.999
        STEEM"},"price_history":[{"base":"0.134 SBD","quote":"1.020 STEEM"},{"base":"0.131
        SBD","quote":"1.000 STEEM"},{"base":"0.132 SBD","quote":"1.010 STEEM"},{"base":"0.131
        SBD","quote":"0.999 STEEM"},{"base":"0.134 SBD","quote":"1.020 STEEM"},{"base":"0.134
        SBD","quote":"1.020 STEEM"},{"base":"0.134 SBD","quote":"1.020 STEEM"},{"base":"0.132
        SBD","quote":"1.010 STEEM"},{"base":"0.132 SBD","quote":"1.010 STEEM"},{"base":"0.131
        SBD","quote":"0.999 STEEM"},{"base":"0.131 SBD","quote":"[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"id":0,"head_block_number":9497331,"head_block_id":"0090eaf3011fc23990da9f939f3104e9bba829f3","time":"2017-02-19T06:22:00","current_witness":"clayop","total_pow":455454,"num_pow_witnesses":172,"virtual_supply":"251417258.637
        STEEM","current_supply":"242857008.601 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"1122515.270 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"202512380.141 STEEM","total_vesting_shares":"421834784220.685672
        VESTS","total_reward_fund_steem":"53670.567 STEEM","total_reward_shares2":"1005478517307735620918787021313","sbd_interest_rate":300,"sbd_print_rate":5333,"average_block_size":637,"maximum_block_size":65536,"current_aslot":9550040,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":9497316,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Sun, 19 Feb 2017 06:22:00 GMT
recorded_with: VCR 3.0.3
