---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00015712",130.72386713],["0.00015713",19.97],["0.00015715",0.64044944],["0.00015722",195.00127213],["0.00015731",867],["0.00015734",1641.56080462],["0.00015745",1.27843638],["0.00015747",16.67979005],["0.00015750",1.03410594],["0.00015751",9.60426295]],"bids":[["0.00015614",714.7129984],["0.00015613",323.73180429],["0.00015598",16.67979005],["0.00015584",11.04609735],["0.00015570",22.11126342],["0.00015542",72.68973483],["0.00015535",100.85909237],["0.00015514",2.57831636],["0.00015511",33.65001612],["0.00015510",2000]],"isFrozen":"0","seq":25207980}'
  recorded_at: Mon, 06 Feb 2017 23:41:46 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_BBR":{"id":6,"last":"0.00027998","lowestAsk":"0.00027943","highestBid":"0.00027601","percentChange":"-0.25667710","baseVolume":"542.03296357","quoteVolume":"1606886.46686595","isFrozen":"0","high24hr":"0.00044377","low24hr":"0.00024992"},"BTC_BCN":{"id":7,"last":"0.00000006","lowestAsk":"0.00000006","highestBid":"0.00000005","percentChange":"0.20000000","baseVolume":"1.85282083","quoteVolume":"32449267.08407544","isFrozen":"0","high24hr":"0.00000006","low24hr":"0.00000005"},"BTC_BELA":{"id":8,"last":"0.00001555","lowestAsk":"0.00001556","highestBid":"0.00001555","percentChange":"-0.07660332","baseVolume":"60.74362098","quoteVolume":"3682589.66228193","isFrozen":"0","high24hr":"0.00001828","low24hr":"0.00001530"},"BTC_BITS":{"id":9,"last":"0.00000912","lowestAsk":"0.00000912","highestBid":"0.00000909","percentChange":"-0.05882352","baseVolume":"0.62726501","quoteVolume":"66583.23196820","isFrozen":"0","high24hr":"0.00000997","low24hr":"0.00000901"},"BTC_BLK":{"id":10,"last":"0.00003573","lowestAsk":"0.00003560","highestBid":"0.00003521","percentChange":"0.03625290","baseVolume":"8.19514570","quoteVolume":"239207.90144008","isFrozen":"0","high24hr":"0.00003597","low24hr":"0.00003257"},"BTC_BTCD":{"id":12,"last":"0.00698734","lowestAsk":"0.00703329","highestBid":"0.00698734","percentChange":"0.17616145","baseVolume":"47.79288550","quoteVolume":"6579.28716853","isFrozen":"0","high24hr":"0.00827120","low24hr":"0.00594000"},"BTC_BTM":{"id":13,"last":"0.00012072","lowestAsk":"0.00011872","highestBid":"0.00011871","percentChange":"-0.04689720","baseVolume":"20.51024370","quoteVolume":"168052.33623056","isFrozen":"0","high24hr":"0.00013451","low24hr":"0.00011000"},"BTC_BTS":{"id":14,"last":"0.00000379","lowestAsk":"0.00000381","highestBid":"0.00000379","percentChange":"-0.01813471","baseVolume":"41.04743699","quoteVolume":"10686357.11614545","isFrozen":"0","high24hr":"0.00000394","low24hr":"0.00000377"},"BTC_BURST":{"id":15,"last":"0.00000079","lowestAsk":"0.00000080","highestBid":"0.00000079","percentChange":"-0.08139534","baseVolume":"38.94944913","quoteVolume":"47412185.72587625","isFrozen":"0","high24hr":"0.00000090","low24hr":"0.00000076"},"BTC_C2":{"id":16,"last":"0.00000139","lowestAsk":"0.00000139","highestBid":"0.00000138","percentChange":"0.03731343","baseVolume":"4.64666505","quoteVolume":"3388322.09039473","isFrozen":"0","high24hr":"0.00000143","low24hr":"0.00000127"},"BTC_CLAM":{"id":20,"last":"0.00093500","lowestAsk":"0.00093499","highestBid":"0.00093246","percentChange":"0.03084827","baseVolume":"10.96406732","quoteVolume":"12005.58026005","isFrozen":"0","high24hr":"0.00093833","low24hr":"0.00088723"},"BTC_CURE":{"id":22,"last":"0.00005350","lowestAsk":"0.00005350","highestBid":"0.00005344","percentChange":"-0.05577126","baseVolume":"22.22087807","quoteVolume":"378815.52301667","isFrozen":"0","high24hr":"0.00006800","low24hr":"0.00004905"},"BTC_DASH":{"id":24,"last":"0.01648007","lowestAsk":"0.01648007","highestBid":"0.01648000","percentChange":"-0.00670591","baseVolume":"265.77199360","quoteVolume":"16278.38135450","isFrozen":"0","high24hr":"0.01668028","low24hr":"0.01595488"},"BTC_DGB":{"id":25,"last":"0.00000028","lowestAsk":"0.00000029","highestBid":"0.00000028","percentChange":"0.00000000","baseVolume":"17.19821786","quoteVolume":"59809913.41093930","isFrozen":"0","high24hr":"0.00000030","low24hr":"0.00000027"},"BTC_DOGE":{"id":27,"last":"0.00000020","lowestAsk":"0.00000021","highestBid":"0.00000020","percentChange":"-0.04761904","baseVolume":"19.13211717","quoteVolume":"94201032.11533558","isFrozen":"0","high24hr":"0.00000021","low24hr":"0.00000020"},"BTC_EMC2":{"id":28,"last":"0.00000142","lowestAsk":"0.00000142","highestBid":"0.00000140","percentChange":"0.03649635","baseVolume":"5.95916371","quoteVolume":"4172351.12930391","isFrozen":"0","high24hr":"0.00000155","low24hr":"0.00000135"},"BTC_FLDC":{"id":31,"last":"0.00000134","lowestAsk":"0.00000134","highestBid":"0.00000133","percentChange":"0.04687500","baseVolume":"5.82191776","quoteVolume":"4468859.17879241","isFrozen":"0","high24hr":"0.00000135","low24hr":"0.00000126"},"BTC_FLO":{"id":32,"last":"0.00000498","lowestAsk":"0.00000498","highestBid":"0.00000485","percentChange":"0.02892561","baseVolume":"3.84481589","quoteVolume":"796629.97179933","isFrozen":"0","high24hr":"0.00000518","low24hr":"0.00000450"},"BTC_GAME":{"id":38,"last":"0.00026860","lowestAsk":"0.00026834","highestBid":"0.00026829","percentChange":"-0.06332821","baseVolume":"96.55655079","quoteVolume":"356032.74082484","isFrozen":"0","high24hr":"0.00028857","low24hr":"0.00026300"},"BTC_GRC":{"id":40,"last":"0.00000708","lowestAsk":"0.00000708","highestBid":"0.00000707","percentChange":"0.02608695","baseVolume":"4.69599579","quoteVolume":"661500.06141655","isFrozen":"0","high24hr":"0.00000767","low24hr":"0.00000666"},"BTC_HUC":{"id":43,"last":"0.00002728","lowestAsk":"0.00002726","highestBid":"0.00002665","percentChange":"-0.06735042","baseVolume":"33.22633934","quoteVolume":"1037991.15990337","isFrozen":"0","high24hr":"0.00003645","low24hr":"0.00002500"},"BTC_HZ":{"id":46,"last":"0.00000031","lowestAsk":"0.00000031","highestBid":"0.00000030","percentChange":"0.00000000","baseVolume":"4.56318111","quoteVolume":"14562242.95368686","isFrozen":"0","high24hr":"0.00000033","low24hr":"0.00000029"},"BTC_LTC":{"id":50,"last":"0.00386990","lowestAsk":"0.00386989","highestBid":"0.00385796","percentChange":"-0.00880318","baseVolume":"415.07179294","quoteVolume":"107507.22261432","isFrozen":"0","high24hr":"0.00391499","low24hr":"0.00380000"},"BTC_MAID":{"id":51,"last":"0.00014644","lowestAsk":"0.00014650","highestBid":"0.00014644","percentChange":"0.00075172","baseVolume":"194.05115358","quoteVolume":"1330880.74625637","isFrozen":"0","high24hr":"0.00014983","low24hr":"0.00014340"},"BTC_OMNI":{"id":58,"last":"0.00328999","lowestAsk":"0.00329000","highestBid":"0.00328999","percentChange":"0.15381566","baseVolume":"2.76861180","quoteVolume":"892.43522620","isFrozen":"0","high24hr":"0.00328999","low24hr":"0.00285140"},"BTC_MYR":{"id":59,"last":"0.00000034","lowestAsk":"0.00000034","highestBid":"0.00000033","percentChange":"-0.02857142","baseVolume":"32.84775505","quoteVolume":"96440781.62428308","isFrozen":"0","high24hr":"0.00000039","low24hr":"0.00000030"},"BTC_NAUT":{"id":60,"last":"0.00014399","lowestAsk":"0.00014389","highestBid":"0.00014110","percentChange":"0.22232597","baseVolume":"470.93750271","quoteVolume":"3215663.98971388","isFrozen":"0","high24hr":"0.00017430","low24hr":"0.00011742"},"BTC_NAV":{"id":61,"last":"0.00004316","lowestAsk":"0.00004328","highestBid":"0.00004289","percentChange":"-0.00138824","baseVolume":"34.94834815","quoteVolume":"803255.64690630","isFrozen":"0","high24hr":"0.00004491","low24hr":"0.00004216"},"BTC_NEOS":{"id":63,"last":"0.00012571","lowestAsk":"0.00012571","highestBid":"0.00012363","percentChange":"0.17135669","baseVolume":"18.06843008","quoteVolume":"150788.85438224","isFrozen":"0","high24hr":"0.00013925","low24hr":"0.00010100"},"BTC_NMC":{"id":64,"last":"0.00025646","lowestAsk":"0.00025526","highestBid":"0.00025342","percentChange":"0.01689135","baseVolume":"1.68238001","quoteVolume":"6597.11481231","isFrozen":"0","high24hr":"0.00026473","low24hr":"0.00024866"},"BTC_NOBL":{"id":65,"last":"0.00000010","lowestAsk":"0.00000011","highestBid":"0.00000010","percentChange":"0.00000000","baseVolume":"3.34992605","quoteVolume":"33709252.97568968","isFrozen":"0","high24hr":"0.00000011","low24hr":"0.00000009"},"BTC_NOTE":{"id":66,"last":"0.00000762","lowestAsk":"0.00000772","highestBid":"0.00000762","percentChange":"-0.05341614","baseVolume":"6.63795129","quoteVolume":"853347.92436657","isFrozen":"0","high24hr":"0.00000874","low24hr":"0.00000742"},"BTC_NSR":{"id":68,"last":"0.00000024","lowestAsk":"0.00000024","highestBid":"0.00000023","percentChange":"-0.14285714","baseVolume":"97.53488184","quoteVolume":"369046509.81908375","isFrozen":"0","high24hr":"0.00000030","low24hr":"0.00000023"},"BTC_NXT":{"id":69,"last":"0.00000931","lowestAsk":"0.00000932","highestBid":"0.00000931","percentChange":"0.33000000","baseVolume":"648.54160344","quoteVolume":"71532900.65647314","isFrozen":"0","high24hr":"0.00001112","low24hr":"0.00000698"},"BTC_PINK":{"id":73,"last":"0.00000068","lowestAsk":"0.00000069","highestBid":"0.00000068","percentChange":"-0.13924050","baseVolume":"25.43122798","quoteVolume":"34940973.38522738","isFrozen":"0","high24hr":"0.00000082","low24hr":"0.00000065"},"BTC_POT":{"id":74,"last":"0.00001998","lowestAsk":"0.00001998","highestBid":"0.00001977","percentChange":"0.00756429","baseVolume":"60.07476619","quoteVolume":"3044458.56723922","isFrozen":"0","high24hr":"0.00002024","low24hr":"0.00001900"},"BTC_PPC":{"id":75,"last":"0.00029501","lowestAsk":"0.00029501","highestBid":"0.00028910","percentChange":"0.01141662","baseVolume":"1.50500528","quoteVolume":"5250.69507224","isFrozen":"0","high24hr":"0.00029501","low24hr":"0.00027969"},"BTC_QBK":{"id":78,"last":"0.00022107","lowestAsk":"0.00022100","highestBid":"0.00021943","percentChange":"-0.00329125","baseVolume":"1.71895571","quoteVolume":"8184.93234410","isFrozen":"0","high24hr":"0.00022626","low24hr":"0.00020113"},"BTC_QORA":{"id":79,"last":"0.00000010","lowestAsk":"0.00000011","highestBid":"0.00000010","percentChange":"-0.09090909","baseVolume":"7.80241515","quoteVolume":"75898056.79944427","isFrozen":"0","high24hr":"0.00000011","low24hr":"0.00000009"},"BTC_QTL":{"id":80,"last":"0.00002204","lowestAsk":"0.00002215","highestBid":"0.00002204","percentChange":"-0.12747426","baseVolume":"20.17048303","quoteVolume":"795285.84455228","isFrozen":"0","high24hr":"0.00002870","low24hr":"0.00002201"},"BTC_RBY":{"id":81,"last":"0.00026625","lowestAsk":"0.00026627","highestBid":"0.00026625","percentChange":"-0.00619611","baseVolume":"9.99634918","quoteVolume":"37576.60797893","isFrozen":"0","high24hr":"0.00027629","low24hr":"0.00026062"},"BTC_RIC":{"id":83,"last":"0.00001338","lowestAsk":"0.00001347","highestBid":"0.00001346","percentChange":"0.02923076","baseVolume":"3.99092063","quoteVolume":"283835.13608740","isFrozen":"0","high24hr":"0.00001480","low24hr":"0.00001222"},"BTC_SDC":{"id":84,"last":"0.00164200","lowestAsk":"0.00165000","highestBid":"0.00164200","percentChange":"0.02092206","baseVolume":"21.99855221","quoteVolume":"13697.89547581","isFrozen":"0","high24hr":"0.00165202","low24hr":"0.00157887"},"BTC_SJCX":{"id":86,"last":"0.00014288","lowestAsk":"0.00014434","highestBid":"0.00014288","percentChange":"0.06563245","baseVolume":"19.20065592","quoteVolume":"140685.35285518","isFrozen":"0","high24hr":"0.00014887","low24hr":"0.00012994"},"BTC_STR":{"id":89,"last":"0.00000229","lowestAsk":"0.00000229","highestBid":"0.00000228","percentChange":"0.00438596","baseVolume":"32.15202435","quoteVolume":"13929228.57296298","isFrozen":"0","high24hr":"0.00000237","low24hr":"0.00000227"},"BTC_SYS":{"id":92,"last":"0.00001125","lowestAsk":"0.00001127","highestBid":"0.00001125","percentChange":"-0.24949966","baseVolume":"529.91921474","quoteVolume":"42172952.46656015","isFrozen":"0","high24hr":"0.00001545","low24hr":"0.00001100"},"BTC_UNITY":{"id":95,"last":"0.00317975","lowestAsk":"0.00317976","highestBid":"0.00317975","percentChange":"-0.03801355","baseVolume":"2.87294723","quoteVolume":"891.96807276","isFrozen":"0","high24hr":"0.00334095","low24hr":"0.00313036"},"BTC_VIA":{"id":97,"last":"0.00004564","lowestAsk":"0.00004565","highestBid":"0.00004564","percentChange":"-0.01786098","baseVolume":"1.19903848","quoteVolume":"25911.07392137","isFrozen":"0","high24hr":"0.00004800","low24hr":"0.00004499"},"BTC_XVC":{"id":98,"last":"0.00007479","lowestAsk":"0.00007394","highestBid":"0.00007227","percentChange":"-0.25351831","baseVolume":"63.13555074","quoteVolume":"782512.51186588","isFrozen":"0","high24hr":"0.00010224","low24hr":"0.00006900"},"BTC_VRC":{"id":99,"last":"0.00003932","lowestAsk":"0.00003933","highestBid":"0.00003867","percentChange":"-0.11040723","baseVolume":"11.55781740","quoteVolume":"297126.28531941","isFrozen":"0","high24hr":"0.00004440","low24hr":"0.00003272"},"BTC_VTC":{"id":100,"last":"0.00004334","lowestAsk":"0.00004355","highestBid":"0.00004334","percentChange":"-0.02277339","baseVolume":"22.24125465","quoteVolume":"522470.42700554","isFrozen":"0","high24hr":"0.00004607","low24hr":"0.00004000"},"BTC_XBC":{"id":104,"last":"0.00351053","lowestAsk":"0.00345966","highestBid":"0.00338859","percentChange":"0.08684129","baseVolume":"7.29217013","quoteVolume":"2137.34118907","isFrozen":"0","high24hr":"0.00380000","low24hr":"0.00312997"},"BTC_XCP":{"id":108,"last":"0.00320188","lowestAsk":"0.00324893","highestBid":"0.00320188","percentChange":"0.12361253","baseVolume":"72.74834621","quoteVolume":"22097.31263940","isFrozen":"0","high24hr":"0.00360003","low24hr":"0.00284906"},"BTC_XEM":{"id":112,"last":"0.00000579","lowestAsk":"0.00000579","highestBid":"0.00000578","percentChange":"-0.06612903","baseVolume":"137.20349472","quoteVolume":"23813711.66689251","isFrozen":"0","high24hr":"0.00000623","low24hr":"0.00000552"},"BTC_XMG":{"id":113,"last":"0.00002837","lowestAsk":"0.00002889","highestBid":"0.00002821","percentChange":"0.02418772","baseVolume":"3.49463197","quoteVolume":"120385.03660940","isFrozen":"0","high24hr":"0.00003048","low24hr":"0.00002707"},"BTC_XMR":{"id":114,"last":"0.01242056","lowestAsk":"0.01242056","highestBid":"0.01242053","percentChange":"-0.00952788","baseVolume":"896.79272119","quoteVolume":"72715.28721269","isFrozen":"0","high24hr":"0.01250300","low24hr":"0.01215400"},"BTC_XPM":{"id":116,"last":"0.00005048","lowestAsk":"0.00005048","highestBid":"0.00005003","percentChange":"-0.08051001","baseVolume":"7.68282036","quoteVolume":"151291.79579812","isFrozen":"0","high24hr":"0.00005506","low24hr":"0.00004820"},"BTC_XRP":{"id":117,"last":"0.00000622","lowestAsk":"0.00000622","highestBid":"0.00000621","percentChange":"-0.00638977","baseVolume":"180.54050773","quoteVolume":"29126752.47342239","isFrozen":"0","high24hr":"0.00000627","low24hr":"0.00000613"},"USDT_BTC":{"id":121,"last":"1022.69999278","lowestAsk":"1022.69999279","highestBid":"1020.60000003","percentChange":"0.01157269","baseVolume":"561645.01102028","quoteVolume":"551.53721229","isFrozen":"0","high24hr":"1025.00000000","low24hr":"1007.30000001"},"USDT_DASH":{"id":122,"last":"16.79521200","lowestAsk":"16.80000000","highestBid":"16.72230016","percentChange":"-0.00090607","baseVolume":"18947.99300326","quoteVolume":"1138.91415770","isFrozen":"0","high24hr":"16.95499999","low24hr":"16.37329657"},"USDT_LTC":{"id":123,"last":"3.95000000","lowestAsk":"3.95990869","highestBid":"3.95000000","percentChange":"0.00253806","baseVolume":"14681.57938047","quoteVolume":"3713.28915841","isFrozen":"0","high24hr":"3.98231379","low24hr":"3.92400000"},"USDT_NXT":{"id":124,"last":"0.00955385","lowestAsk":"0.00955385","highestBid":"0.00941700","percentChange":"0.35026634","baseVolume":"7192.39798852","quoteVolume":"790206.79382244","isFrozen":"0","high24hr":"0.01242079","low24hr":"0.00709241"},"USDT_STR":{"id":125,"last":"0.00234012","lowestAsk":"0.00234790","highestBid":"0.00234035","percentChange":"0.01964235","baseVolume":"637.89405312","quoteVolume":"271257.00535407","isFrozen":"0","high24hr":"0.00237344","low24hr":"0.00226000"},"USDT_XMR":{"id":126,"last":"12.64424341","lowestAsk":"12.67212169","highestBid":"12.64424341","percentChange":"0.00351138","baseVolume":"45581.83231564","quoteVolume":"3634.93483245","isFrozen":"0","high24hr":"12.70500000","low24hr":"12.40000001"},"USDT_XRP":{"id":127,"last":"0.00635302","lowestAsk":"0.00637484","highestBid":"0.00633590","percentChange":"0.00326102","baseVolume":"2755.42012024","quoteVolume":"434296.82070328","isFrozen":"0","high24hr":"0.00639367","low24hr":"0.00627000"},"XMR_BBR":{"id":128,"last":"0.02237161","lowestAsk":"0.02237161","highestBid":"0.02203070","percentChange":"-0.28027007","baseVolume":"698.43748436","quoteVolume":"22928.91075875","isFrozen":"0","high24hr":"0.03500000","low24hr":"0.02029379"},"XMR_BCN":{"id":129,"last":"0.00000415","lowestAsk":"0.00000419","highestBid":"0.00000417","percentChange":"-0.00479616","baseVolume":"1.92971478","quoteVolume":"461813.35546157","isFrozen":"0","high24hr":"0.00000424","low24hr":"0.00000412"},"XMR_BLK":{"id":130,"last":"0.00283753","lowestAsk":"0.00289093","highestBid":"0.00283925","percentChange":"0.03419834","baseVolume":"26.70457165","quoteVolume":"9036.90987363","isFrozen":"0","high24hr":"0.00320000","low24hr":"0.00244248"},"XMR_BTCD":{"id":131,"last":"0.55847860","lowestAsk":"0.57000838","highestBid":"0.55890130","percentChange":"0.15885750","baseVolume":"54.02606966","quoteVolume":"95.99285163","isFrozen":"0","high24hr":"0.67999999","low24hr":"0.47782010"},"XMR_DASH":{"id":132,"last":"1.32265550","lowestAsk":"1.33324270","highestBid":"1.32087371","percentChange":"-0.00788232","baseVolume":"245.00798620","quoteVolume":"182.88604763","isFrozen":"0","high24hr":"1.40338700","low24hr":"1.27625700"},"XMR_LTC":{"id":137,"last":"0.31214465","lowestAsk":"0.31180295","highestBid":"0.30968604","percentChange":"-0.00067832","baseVolume":"299.86995925","quoteVolume":"980.59588450","isFrozen":"0","high24hr":"0.32729995","low24hr":"0.30025000"},"XMR_MAID":{"id":138,"last":"0.01173860","lowestAsk":"0.01186755","highestBid":"0.01171827","percentChange":"-0.00327074","baseVolume":"40.26856030","quoteVolume":"3274.59159093","isFrozen":"0","high24hr":"0.01311339","low24hr":"0.01124000"},"XMR_NXT":{"id":140,"last":"0.00079022","lowestAsk":"0.00079153","highestBid":"0.00074174","percentChange":"0.41254491","baseVolume":"194.17204803","quoteVolume":"253698.04754115","isFrozen":"0","high24hr":"0.00136247","low24hr":"0.00056115"},"XMR_QORA":{"id":141,"last":"0.00000801","lowestAsk":"0.00000806","highestBid":"0.00000796","percentChange":"0.00125000","baseVolume":"5.12551160","quoteVolume":"640146.05783990","isFrozen":"0","high24hr":"0.00000831","low24hr":"0.00000724"},"BTC_IOC":{"id":143,"last":"0.00036250","lowestAsk":"0.00036298","highestBid":"0.00035993","percentChange":"0.00340465","baseVolume":"7.92919591","quoteVolume":"22386.25828654","isFrozen":"0","high24hr":"0.00037662","low24hr":"0.00033002"},"BTC_ETH":{"id":148,"last":"0.01104451","lowestAsk":"0.01103615","highestBid":"0.01099911","percentChange":"-0.00041632","baseVolume":"1428.27037097","quoteVolume":"129810.02791663","isFrozen":"0","high24hr":"0.01109599","low24hr":"0.01085001"},"USDT_ETH":{"id":149,"last":"11.28671641","lowestAsk":"11.32370592","highestBid":"11.28671641","percentChange":"0.01408053","baseVolume":"37662.02118363","quoteVolume":"3346.81757330","isFrozen":"0","high24hr":"11.33999999","low24hr":"11.09692038"},"BTC_SC":{"id":150,"last":"0.00000040","lowestAsk":"0.00000041","highestBid":"0.00000040","percentChange":"0.02564102","baseVolume":"101.71781801","quoteVolume":"260056445.66909561","isFrozen":"0","high24hr":"0.00000041","low24hr":"0.00000038"},"BTC_BCY":{"id":151,"last":"0.00023006","lowestAsk":"0.00023005","highestBid":"0.00022991","percentChange":"0.08600830","baseVolume":"19.03929252","quoteVolume":"84215.51844720","isFrozen":"0","high24hr":"0.00023978","low24hr":"0.00020301"},"BTC_EXP":{"id":153,"last":"0.00030705","lowestAsk":"0.00031000","highestBid":"0.00030789","percentChange":"-0.02455683","baseVolume":"14.82267136","quoteVolume":"47592.01203116","isFrozen":"0","high24hr":"0.00031994","low24hr":"0.00030131"},"BTC_FCT":{"id":155,"last":"0.00344842","lowestAsk":"0.00344786","highestBid":"0.00343338","percentChange":"-0.00878988","baseVolume":"117.67305426","quoteVolume":"34135.22072880","isFrozen":"0","high24hr":"0.00350555","low24hr":"0.00337000"},"BTC_RADS":{"id":158,"last":"0.00055051","lowestAsk":"0.00055051","highestBid":"0.00054509","percentChange":"0.04731375","baseVolume":"35.07542636","quoteVolume":"60150.02246587","isFrozen":"0","high24hr":"0.00063800","low24hr":"0.00051352"},"BTC_AMP":{"id":160,"last":"0.00004636","lowestAsk":"0.00004637","highestBid":"0.00004636","percentChange":"0.00086355","baseVolume":"46.98860154","quoteVolume":"998793.39419907","isFrozen":"0","high24hr":"0.00004921","low24hr":"0.00004500"},"BTC_VOX":{"id":161,"last":"0.00001228","lowestAsk":"0.00001229","highestBid":"0.00001212","percentChange":"-0.12223016","baseVolume":"60.04761069","quoteVolume":"4791993.56945827","isFrozen":"0","high24hr":"0.00001433","low24hr":"0.00001187"},"BTC_DCR":{"id":162,"last":"0.00251355","lowestAsk":"0.00251356","highestBid":"0.00251355","percentChange":"-0.14427388","baseVolume":"148.76849974","quoteVolume":"55203.36526224","isFrozen":"0","high24hr":"0.00313998","low24hr":"0.00248791"},"BTC_LSK":{"id":163,"last":"0.00015361","lowestAsk":"0.00015488","highestBid":"0.00015368","percentChange":"-0.03849524","baseVolume":"89.04240478","quoteVolume":"575668.06629290","isFrozen":"0","high24hr":"0.00016040","low24hr":"0.00015011"},"ETH_LSK":{"id":166,"last":"0.01396147","lowestAsk":"0.01408254","highestBid":"0.01403128","percentChange":"-0.03410442","baseVolume":"35.92664965","quoteVolume":"2536.24829776","isFrozen":"0","high24hr":"0.01475000","low24hr":"0.01375000"},"BTC_LBC":{"id":167,"last":"0.00002567","lowestAsk":"0.00002609","highestBid":"0.00002567","percentChange":"-0.03532506","baseVolume":"38.92053336","quoteVolume":"1505724.13012521","isFrozen":"0","high24hr":"0.00002729","low24hr":"0.00002466"},"BTC_STEEM":{"id":168,"last":"0.00015609","lowestAsk":"0.00015712","highestBid":"0.00015614","percentChange":"-0.00693472","baseVolume":"52.81147984","quoteVolume":"341523.86557784","isFrozen":"0","high24hr":"0.00015800","low24hr":"0.00015009"},"ETH_STEEM":{"id":169,"last":"0.01417056","lowestAsk":"0.01422234","highestBid":"0.01410740","percentChange":"-0.01158361","baseVolume":"45.49560357","quoteVolume":"3234.25201532","isFrozen":"0","high24hr":"0.01436859","low24hr":"0.01370010"},"BTC_SBD":{"id":170,"last":"0.00097000","lowestAsk":"0.00097980","highestBid":"0.00097000","percentChange":"-0.02021191","baseVolume":"1.71241930","quoteVolume":"1750.49004171","isFrozen":"0","high24hr":"0.00099071","low24hr":"0.00097000"},"BTC_ETC":{"id":171,"last":"0.00141500","lowestAsk":"0.00141500","highestBid":"0.00141428","percentChange":"0.05203678","baseVolume":"840.01574335","quoteVolume":"595533.87046856","isFrozen":"0","high24hr":"0.00145416","low24hr":"0.00133783"},"ETH_ETC":{"id":172,"last":"0.12850000","lowestAsk":"0.12849999","highestBid":"0.12794223","percentChange":"0.05753561","baseVolume":"2298.44624021","quoteVolume":"17887.76451943","isFrozen":"0","high24hr":"0.13100000","low24hr":"0.12128096"},"USDT_ETC":{"id":173,"last":"1.44113710","lowestAsk":"1.44113710","highestBid":"1.43960511","percentChange":"0.06070068","baseVolume":"102483.03143098","quoteVolume":"71549.38129558","isFrozen":"0","high24hr":"1.47735043","low24hr":"1.35703372"},"BTC_REP":{"id":174,"last":"0.00409167","lowestAsk":"0.00412364","highestBid":"0.00409192","percentChange":"-0.00344875","baseVolume":"80.79095645","quoteVolume":"19819.69489056","isFrozen":"0","high24hr":"0.00418000","low24hr":"0.00393007"},"USDT_REP":{"id":175,"last":"4.19482117","lowestAsk":"4.22100600","highestBid":"4.19482118","percentChange":"0.01342012","baseVolume":"2393.43067431","quoteVolume":"573.35488176","isFrozen":"0","high24hr":"4.22240333","low24hr":"4.03762370"},"ETH_REP":{"id":176,"last":"0.37038629","lowestAsk":"0.37320275","highestBid":"0.37049848","percentChange":"0.00338046","baseVolume":"5409.21708321","quoteVolume":"14809.28393142","isFrozen":"0","high24hr":"0.37757043","low24hr":"0.36010101"},"BTC_ARDR":{"id":177,"last":"0.00002115","lowestAsk":"0.00002121","highestBid":"0.00002115","percentChange":"0.16081229","baseVolume":"159.07211633","quoteVolume":"7767683.87227689","isFrozen":"0","high24hr":"0.00002290","low24hr":"0.00001772"},"BTC_ZEC":{"id":178,"last":"0.03605911","lowestAsk":"0.03605911","highestBid":"0.03605910","percentChange":"-0.02884686","baseVolume":"192.66462598","quoteVolume":"5291.01194186","isFrozen":"0","high24hr":"0.03716602","low24hr":"0.03604967"},"ETH_ZEC":{"id":179,"last":"3.28180693","lowestAsk":"3.29800000","highestBid":"3.28180693","percentChange":"-0.02641686","baseVolume":"524.77105047","quoteVolume":"157.70437289","isFrozen":"0","high24hr":"3.37085433","low24hr":"3.27000000"},"USDT_ZEC":{"id":180,"last":"36.90020001","lowestAsk":"36.90020001","highestBid":"36.90020000","percentChange":"-0.01631584","baseVolume":"19715.66989174","quoteVolume":"528.03575771","isFrozen":"0","high24hr":"37.95177941","low24hr":"36.83027397"},"XMR_ZEC":{"id":181,"last":"2.91096895","lowestAsk":"2.92641717","highestBid":"2.90000001","percentChange":"-0.02429060","baseVolume":"77.86134694","quoteVolume":"26.41777588","isFrozen":"0","high24hr":"3.03631160","low24hr":"2.87600001"},"BTC_STRAT":{"id":182,"last":"0.00009106","lowestAsk":"0.00009195","highestBid":"0.00009107","percentChange":"0.06865391","baseVolume":"91.32378896","quoteVolume":"1028402.18199280","isFrozen":"0","high24hr":"0.00009333","low24hr":"0.00008402"},"BTC_NXC":{"id":183,"last":"0.00006068","lowestAsk":"0.00006068","highestBid":"0.00006002","percentChange":"-0.05350179","baseVolume":"118.02172337","quoteVolume":"1950171.99506090","isFrozen":"0","high24hr":"0.00006500","low24hr":"0.00005627"},"BTC_PASC":{"id":184,"last":"0.00036051","lowestAsk":"0.00036415","highestBid":"0.00036059","percentChange":"-0.24308719","baseVolume":"1051.80545136","quoteVolume":"2697628.81901293","isFrozen":"0","high24hr":"0.00047999","low24hr":"0.00031645"}}'
  recorded_at: Mon, 06 Feb 2017 23:41:46 GMT
recorded_with: VCR 3.0.3
