---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00011596",4436.04080873],["0.00011597",986.11922866],["0.00011599",2522.24760401],["0.00011609",55.87021535],["0.00011639",88.90042427],["0.00011790",8422.3918575],["0.00011791",3800.6882148],["0.00011792",444.48699402],["0.00011794",4265.0339889],["0.00011823",468.05982455]],"bids":[["0.00011541",0.95312365],["0.00011540",1895.17115495],["0.00011534",11.81344924],["0.00011521",2.53957704],["0.00011520",2636.3875175],["0.00011518",100.25062657],["0.00011500",1186.74095652],["0.00011468",116.60314511],["0.00011448",6.77425379],["0.00011393",475.32821006]],"isFrozen":"0","seq":26019322}'
  recorded_at: Sun, 19 Feb 2017 06:22:56 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_BBR":{"id":6,"last":"0.00020167","lowestAsk":"0.00020167","highestBid":"0.00019880","percentChange":"-0.09650105","baseVolume":"34.76147406","quoteVolume":"168727.19034003","isFrozen":"0","high24hr":"0.00022749","low24hr":"0.00018519"},"BTC_BCN":{"id":7,"last":"0.00000004","lowestAsk":"0.00000005","highestBid":"0.00000004","percentChange":"0.00000000","baseVolume":"1.65795630","quoteVolume":"36058089.88542089","isFrozen":"0","high24hr":"0.00000005","low24hr":"0.00000004"},"BTC_BELA":{"id":8,"last":"0.00003038","lowestAsk":"0.00003038","highestBid":"0.00003037","percentChange":"0.23095623","baseVolume":"197.12513056","quoteVolume":"7539546.94788079","isFrozen":"0","high24hr":"0.00003199","low24hr":"0.00002072"},"BTC_BITS":{"id":9,"last":"0.00000866","lowestAsk":"0.00000870","highestBid":"0.00000861","percentChange":"-0.02696629","baseVolume":"0.44915894","quoteVolume":"50651.06564257","isFrozen":"0","high24hr":"0.00000924","low24hr":"0.00000852"},"BTC_BLK":{"id":10,"last":"0.00003138","lowestAsk":"0.00003140","highestBid":"0.00003138","percentChange":"-0.03088326","baseVolume":"7.16281274","quoteVolume":"232631.09454578","isFrozen":"0","high24hr":"0.00003230","low24hr":"0.00002990"},"BTC_BTCD":{"id":12,"last":"0.00588920","lowestAsk":"0.00588921","highestBid":"0.00583356","percentChange":"0.02577322","baseVolume":"1.87706525","quoteVolume":"328.59584528","isFrozen":"0","high24hr":"0.00588921","low24hr":"0.00550001"},"BTC_BTM":{"id":13,"last":"0.00011738","lowestAsk":"0.00011730","highestBid":"0.00011582","percentChange":"0.00170677","baseVolume":"6.67454671","quoteVolume":"58772.58370306","isFrozen":"0","high24hr":"0.00012150","low24hr":"0.00010520"},"BTC_BTS":{"id":14,"last":"0.00000387","lowestAsk":"0.00000387","highestBid":"0.00000383","percentChange":"0.01842105","baseVolume":"27.15189635","quoteVolume":"7257803.43787750","isFrozen":"0","high24hr":"0.00000391","low24hr":"0.00000366"},"BTC_BURST":{"id":15,"last":"0.00000089","lowestAsk":"0.00000090","highestBid":"0.00000089","percentChange":"-0.04301075","baseVolume":"49.36881442","quoteVolume":"55007390.92157110","isFrozen":"0","high24hr":"0.00000095","low24hr":"0.00000086"},"BTC_C2":{"id":16,"last":"0.00000114","lowestAsk":"0.00000114","highestBid":"0.00000113","percentChange":"-0.01724137","baseVolume":"1.10580890","quoteVolume":"992654.18024532","isFrozen":"0","high24hr":"0.00000116","low24hr":"0.00000106"},"BTC_CLAM":{"id":20,"last":"0.00089296","lowestAsk":"0.00089297","highestBid":"0.00089296","percentChange":"-0.02938075","baseVolume":"9.03738677","quoteVolume":"10136.38849074","isFrozen":"0","high24hr":"0.00092052","low24hr":"0.00085873"},"BTC_CURE":{"id":22,"last":"0.00004828","lowestAsk":"0.00004828","highestBid":"0.00004748","percentChange":"-0.07260852","baseVolume":"2.17974282","quoteVolume":"44451.87840595","isFrozen":"0","high24hr":"0.00005213","low24hr":"0.00004641"},"BTC_DASH":{"id":24,"last":"0.02090294","lowestAsk":"0.02090294","highestBid":"0.02090000","percentChange":"0.08305388","baseVolume":"2082.57803501","quoteVolume":"101681.65052672","isFrozen":"0","high24hr":"0.02199998","low24hr":"0.01912359"},"BTC_DGB":{"id":25,"last":"0.00000023","lowestAsk":"0.00000024","highestBid":"0.00000023","percentChange":"0.00000000","baseVolume":"14.46169675","quoteVolume":"61726902.73301756","isFrozen":"0","high24hr":"0.00000024","low24hr":"0.00000023"},"BTC_DOGE":{"id":27,"last":"0.00000020","lowestAsk":"0.00000020","highestBid":"0.00000019","percentChange":"0.05263157","baseVolume":"58.76034820","quoteVolume":"312368983.45198256","isFrozen":"0","high24hr":"0.00000020","low24hr":"0.00000018"},"BTC_EMC2":{"id":28,"last":"0.00000143","lowestAsk":"0.00000142","highestBid":"0.00000141","percentChange":"-0.04026845","baseVolume":"7.62907315","quoteVolume":"5438388.65173781","isFrozen":"0","high24hr":"0.00000149","low24hr":"0.00000134"},"BTC_FLDC":{"id":31,"last":"0.00000133","lowestAsk":"0.00000133","highestBid":"0.00000132","percentChange":"-0.04316546","baseVolume":"9.30399952","quoteVolume":"7072784.81917338","isFrozen":"0","high24hr":"0.00000140","low24hr":"0.00000126"},"BTC_FLO":{"id":32,"last":"0.00000445","lowestAsk":"0.00000446","highestBid":"0.00000439","percentChange":"0.01598173","baseVolume":"7.50927456","quoteVolume":"1842607.25937270","isFrozen":"0","high24hr":"0.00000460","low24hr":"0.00000381"},"BTC_GAME":{"id":38,"last":"0.00021492","lowestAsk":"0.00021492","highestBid":"0.00021269","percentChange":"-0.07298136","baseVolume":"127.91516816","quoteVolume":"587544.23989006","isFrozen":"0","high24hr":"0.00023900","low24hr":"0.00020511"},"BTC_GRC":{"id":40,"last":"0.00000636","lowestAsk":"0.00000636","highestBid":"0.00000634","percentChange":"-0.10169491","baseVolume":"2.82358997","quoteVolume":"433497.36764392","isFrozen":"0","high24hr":"0.00000708","low24hr":"0.00000627"},"BTC_HUC":{"id":43,"last":"0.00002233","lowestAsk":"0.00002232","highestBid":"0.00002214","percentChange":"-0.07267441","baseVolume":"2.14769153","quoteVolume":"96081.52215899","isFrozen":"0","high24hr":"0.00002408","low24hr":"0.00002202"},"BTC_HZ":{"id":46,"last":"0.00000025","lowestAsk":"0.00000026","highestBid":"0.00000024","percentChange":"-0.03846153","baseVolume":"4.45833229","quoteVolume":"17579620.03955161","isFrozen":"0","high24hr":"0.00000028","low24hr":"0.00000024"},"BTC_LTC":{"id":50,"last":"0.00359897","lowestAsk":"0.00359894","highestBid":"0.00359339","percentChange":"-0.01153267","baseVolume":"403.02474216","quoteVolume":"112459.78470043","isFrozen":"0","high24hr":"0.00366276","low24hr":"0.00320000"},"BTC_MAID":{"id":51,"last":"0.00018984","lowestAsk":"0.00018990","highestBid":"0.00018901","percentChange":"0.01524145","baseVolume":"680.55147720","quoteVolume":"3716241.84259650","isFrozen":"0","high24hr":"0.00019459","low24hr":"0.00017615"},"BTC_OMNI":{"id":58,"last":"0.00324490","lowestAsk":"0.00324490","highestBid":"0.00324489","percentChange":"-0.00419203","baseVolume":"2.96086171","quoteVolume":"929.93248506","isFrozen":"0","high24hr":"0.00341855","low24hr":"0.00310030"},"BTC_MYR":{"id":59,"last":"0.00000022","lowestAsk":"0.00000023","highestBid":"0.00000022","percentChange":"0.00000000","baseVolume":"3.65641921","quoteVolume":"16291686.96264826","isFrozen":"0","high24hr":"0.00000024","low24hr":"0.00000021"},"BTC_NAUT":{"id":60,"last":"0.00008659","lowestAsk":"0.00008744","highestBid":"0.00008663","percentChange":"-0.06661636","baseVolume":"55.01405204","quoteVolume":"655894.55983079","isFrozen":"0","high24hr":"0.00009141","low24hr":"0.00008023"},"BTC_NAV":{"id":61,"last":"0.00003650","lowestAsk":"0.00003653","highestBid":"0.00003624","percentChange":"-0.04174323","baseVolume":"29.49776211","quoteVolume":"798075.23443739","isFrozen":"0","high24hr":"0.00003972","low24hr":"0.00003600"},"BTC_NEOS":{"id":63,"last":"0.00021185","lowestAsk":"0.00021185","highestBid":"0.00021184","percentChange":"-0.04053442","baseVolume":"92.08213052","quoteVolume":"448798.80787087","isFrozen":"0","high24hr":"0.00025980","low24hr":"0.00017000"},"BTC_NMC":{"id":64,"last":"0.00024744","lowestAsk":"0.00025128","highestBid":"0.00024743","percentChange":"0.09216101","baseVolume":"4.32933786","quoteVolume":"18260.09311589","isFrozen":"0","high24hr":"0.00025192","low24hr":"0.00021319"},"BTC_NOBL":{"id":65,"last":"0.00000008","lowestAsk":"0.00000009","highestBid":"0.00000008","percentChange":"0.00000000","baseVolume":"2.65561900","quoteVolume":"32077477.62284521","isFrozen":"0","high24hr":"0.00000009","low24hr":"0.00000008"},"BTC_NOTE":{"id":66,"last":"0.00000581","lowestAsk":"0.00000591","highestBid":"0.00000581","percentChange":"-0.04754098","baseVolume":"2.86689080","quoteVolume":"492430.91687352","isFrozen":"0","high24hr":"0.00000612","low24hr":"0.00000558"},"BTC_NSR":{"id":68,"last":"0.00000019","lowestAsk":"0.00000019","highestBid":"0.00000018","percentChange":"0.00000000","baseVolume":"5.54720151","quoteVolume":"32205563.01519678","isFrozen":"0","high24hr":"0.00000019","low24hr":"0.00000016"},"BTC_NXT":{"id":69,"last":"0.00000678","lowestAsk":"0.00000678","highestBid":"0.00000675","percentChange":"-0.02865329","baseVolume":"36.31728417","quoteVolume":"5393780.32435643","isFrozen":"0","high24hr":"0.00000700","low24hr":"0.00000650"},"BTC_PINK":{"id":73,"last":"0.00000075","lowestAsk":"0.00000075","highestBid":"0.00000074","percentChange":"0.04166666","baseVolume":"12.90097613","quoteVolume":"17721721.46209185","isFrozen":"0","high24hr":"0.00000082","low24hr":"0.00000065"},"BTC_POT":{"id":74,"last":"0.00001866","lowestAsk":"0.00001871","highestBid":"0.00001866","percentChange":"0.00484652","baseVolume":"19.21270326","quoteVolume":"1028222.40709395","isFrozen":"0","high24hr":"0.00001928","low24hr":"0.00001852"},"BTC_PPC":{"id":75,"last":"0.00029999","lowestAsk":"0.00029500","highestBid":"0.00029390","percentChange":"0.09059512","baseVolume":"2.29257328","quoteVolume":"8166.30393312","isFrozen":"0","high24hr":"0.00029999","low24hr":"0.00026619"},"BTC_QBK":{"id":78,"last":"0.00024000","lowestAsk":"0.00024018","highestBid":"0.00024001","percentChange":"0.03408160","baseVolume":"9.48247013","quoteVolume":"40321.14920640","isFrozen":"0","high24hr":"0.00027000","low24hr":"0.00019000"},"BTC_QORA":{"id":79,"last":"0.00000008","lowestAsk":"0.00000008","highestBid":"0.00000007","percentChange":"0.00000000","baseVolume":"2.05579722","quoteVolume":"28014718.61931610","isFrozen":"0","high24hr":"0.00000008","low24hr":"0.00000007"},"BTC_QTL":{"id":80,"last":"0.00002856","lowestAsk":"0.00002915","highestBid":"0.00002890","percentChange":"-0.00660869","baseVolume":"13.50657187","quoteVolume":"470373.67228717","isFrozen":"0","high24hr":"0.00003271","low24hr":"0.00002820"},"BTC_RBY":{"id":81,"last":"0.00020098","lowestAsk":"0.00020202","highestBid":"0.00020105","percentChange":"0.00144501","baseVolume":"2.81400423","quoteVolume":"14291.58349508","isFrozen":"0","high24hr":"0.00020306","low24hr":"0.00019525"},"BTC_RIC":{"id":83,"last":"0.00001315","lowestAsk":"0.00001322","highestBid":"0.00001301","percentChange":"0.02895148","baseVolume":"7.05717242","quoteVolume":"561084.31880107","isFrozen":"0","high24hr":"0.00001373","low24hr":"0.00001176"},"BTC_SDC":{"id":84,"last":"0.00154582","lowestAsk":"0.00154784","highestBid":"0.00154691","percentChange":"-0.03582098","baseVolume":"46.30873874","quoteVolume":"30365.90577650","isFrozen":"0","high24hr":"0.00160325","low24hr":"0.00143464"},"BTC_SJCX":{"id":86,"last":"0.00012163","lowestAsk":"0.00012163","highestBid":"0.00012115","percentChange":"-0.09937060","baseVolume":"14.58347718","quoteVolume":"116570.80496786","isFrozen":"0","high24hr":"0.00013505","low24hr":"0.00011375"},"BTC_STR":{"id":89,"last":"0.00000194","lowestAsk":"0.00000195","highestBid":"0.00000194","percentChange":"0.00000000","baseVolume":"61.77160813","quoteVolume":"32072067.34220465","isFrozen":"0","high24hr":"0.00000199","low24hr":"0.00000189"},"BTC_SYS":{"id":92,"last":"0.00000975","lowestAsk":"0.00000982","highestBid":"0.00000976","percentChange":"-0.08278457","baseVolume":"38.67524440","quoteVolume":"3871696.28990618","isFrozen":"0","high24hr":"0.00001055","low24hr":"0.00000950"},"BTC_UNITY":{"id":95,"last":"0.00293207","lowestAsk":"0.00292750","highestBid":"0.00290000","percentChange":"0.05622498","baseVolume":"0.51734658","quoteVolume":"177.33289211","isFrozen":"0","high24hr":"0.00319976","low24hr":"0.00277598"},"BTC_VIA":{"id":97,"last":"0.00003403","lowestAsk":"0.00003403","highestBid":"0.00003401","percentChange":"-0.05524708","baseVolume":"2.16710186","quoteVolume":"62760.38318847","isFrozen":"0","high24hr":"0.00003606","low24hr":"0.00003333"},"BTC_XVC":{"id":98,"last":"0.00005348","lowestAsk":"0.00005384","highestBid":"0.00005269","percentChange":"-0.00889547","baseVolume":"10.54417039","quoteVolume":"196445.21299493","isFrozen":"0","high24hr":"0.00006000","low24hr":"0.00005005"},"BTC_VRC":{"id":99,"last":"0.00002879","lowestAsk":"0.00002869","highestBid":"0.00002841","percentChange":"-0.07694773","baseVolume":"1.89842298","quoteVolume":"66415.73347302","isFrozen":"0","high24hr":"0.00003159","low24hr":"0.00002801"},"BTC_VTC":{"id":100,"last":"0.00003800","lowestAsk":"0.00003800","highestBid":"0.00003754","percentChange":"-0.09867172","baseVolume":"13.85531973","quoteVolume":"352262.07419386","isFrozen":"0","high24hr":"0.00004251","low24hr":"0.00003700"},"BTC_XBC":{"id":104,"last":"0.00338000","lowestAsk":"0.00340811","highestBid":"0.00338001","percentChange":"0.03230693","baseVolume":"3.62154494","quoteVolume":"1097.72949149","isFrozen":"0","high24hr":"0.00352923","low24hr":"0.00292183"},"BTC_XCP":{"id":108,"last":"0.00322828","lowestAsk":"0.00326887","highestBid":"0.00323115","percentChange":"-0.06523123","baseVolume":"31.20724770","quoteVolume":"9575.88136888","isFrozen":"0","high24hr":"0.00348101","low24hr":"0.00306539"},"BTC_XEM":{"id":112,"last":"0.00000639","lowestAsk":"0.00000639","highestBid":"0.00000638","percentChange":"-0.04054054","baseVolume":"91.41145918","quoteVolume":"14229330.88555113","isFrozen":"0","high24hr":"0.00000671","low24hr":"0.00000616"},"BTC_XMG":{"id":113,"last":"0.00002768","lowestAsk":"0.00002769","highestBid":"0.00002758","percentChange":"-0.04584625","baseVolume":"0.99865719","quoteVolume":"35706.89555841","isFrozen":"0","high24hr":"0.00002887","low24hr":"0.00002656"},"BTC_XMR":{"id":114,"last":"0.01264400","lowestAsk":"0.01264401","highestBid":"0.01264400","percentChange":"-0.00909168","baseVolume":"752.64910157","quoteVolume":"59829.61008415","isFrozen":"0","high24hr":"0.01281685","low24hr":"0.01236902"},"BTC_XPM":{"id":116,"last":"0.00004170","lowestAsk":"0.00004199","highestBid":"0.00004157","percentChange":"-0.04423561","baseVolume":"1.45645111","quoteVolume":"34807.03421414","isFrozen":"0","high24hr":"0.00004300","low24hr":"0.00004120"},"BTC_XRP":{"id":117,"last":"0.00000526","lowestAsk":"0.00000528","highestBid":"0.00000527","percentChange":"-0.05734767","baseVolume":"1018.05016992","quoteVolume":"195460213.42485341","isFrozen":"0","high24hr":"0.00000563","low24hr":"0.00000479"},"USDT_BTC":{"id":121,"last":"1058.20000002","lowestAsk":"1059.24242527","highestBid":"1058.20000002","percentChange":"-0.00823280","baseVolume":"969698.71478093","quoteVolume":"911.89844688","isFrozen":"0","high24hr":"1070.00000000","low24hr":"1049.27420219"},"USDT_DASH":{"id":122,"last":"22.54999997","lowestAsk":"22.54999997","highestBid":"22.10000000","percentChange":"0.09795051","baseVolume":"126257.72985228","quoteVolume":"5827.92588801","isFrozen":"0","high24hr":"23.45589598","low24hr":"20.50390354"},"USDT_LTC":{"id":123,"last":"3.81608805","lowestAsk":"3.81608805","highestBid":"3.80000000","percentChange":"-0.01792672","baseVolume":"15432.39127739","quoteVolume":"4037.87917026","isFrozen":"0","high24hr":"3.91588989","low24hr":"3.78000001"},"USDT_NXT":{"id":124,"last":"0.00719447","lowestAsk":"0.00719447","highestBid":"0.00716085","percentChange":"-0.02606730","baseVolume":"980.48265939","quoteVolume":"135103.81088281","isFrozen":"0","high24hr":"0.00739557","low24hr":"0.00712397"},"USDT_STR":{"id":125,"last":"0.00204872","lowestAsk":"0.00204871","highestBid":"0.00203306","percentChange":"-0.04080753","baseVolume":"892.76958622","quoteVolume":"441388.07146591","isFrozen":"0","high24hr":"0.00211492","low24hr":"0.00195701"},"USDT_XMR":{"id":126,"last":"13.40000000","lowestAsk":"13.42774187","highestBid":"13.40000000","percentChange":"-0.01568018","baseVolume":"34623.97188049","quoteVolume":"2580.13673106","isFrozen":"0","high24hr":"13.67335469","low24hr":"13.20002673"},"USDT_XRP":{"id":127,"last":"0.00560452","lowestAsk":"0.00564041","highestBid":"0.00556739","percentChange":"-0.05785326","baseVolume":"38505.75462885","quoteVolume":"6937243.52740720","isFrozen":"0","high24hr":"0.00597949","low24hr":"0.00532615"},"XMR_BBR":{"id":128,"last":"0.01579190","lowestAsk":"0.01615860","highestBid":"0.01597194","percentChange":"-0.12762488","baseVolume":"14.59354153","quoteVolume":"897.95832699","isFrozen":"0","high24hr":"0.01819676","low24hr":"0.01500000"},"XMR_BCN":{"id":129,"last":"0.00000377","lowestAsk":"0.00000377","highestBid":"0.00000376","percentChange":"-0.00264550","baseVolume":"5.01204603","quoteVolume":"1337378.07527723","isFrozen":"0","high24hr":"0.00000399","low24hr":"0.00000350"},"XMR_BLK":{"id":130,"last":"0.00245851","lowestAsk":"0.00250966","highestBid":"0.00240217","percentChange":"-0.01455810","baseVolume":"23.67601808","quoteVolume":"8704.42853980","isFrozen":"0","high24hr":"0.00276877","low24hr":"0.00220934"},"XMR_BTCD":{"id":131,"last":"0.45785257","lowestAsk":"0.46004854","highestBid":"0.45928029","percentChange":"0.01667962","baseVolume":"3.63021437","quoteVolume":"7.89423274","isFrozen":"0","high24hr":"0.46793921","low24hr":"0.45034105"},"XMR_DASH":{"id":132,"last":"1.65733874","lowestAsk":"1.67126120","highestBid":"1.65212056","percentChange":"0.09468645","baseVolume":"802.71668023","quoteVolume":"497.78733732","isFrozen":"0","high24hr":"1.74040480","low24hr":"1.49238807"},"XMR_LTC":{"id":137,"last":"0.28293878","lowestAsk":"0.28333715","highestBid":"0.28303216","percentChange":"-0.01043361","baseVolume":"46.88918736","quoteVolume":"162.64598139","isFrozen":"0","high24hr":"0.29926131","low24hr":"0.28119487"},"XMR_MAID":{"id":138,"last":"0.01488789","lowestAsk":"0.01514599","highestBid":"0.01496219","percentChange":"0.02731145","baseVolume":"68.66385641","quoteVolume":"4741.19724956","isFrozen":"0","high24hr":"0.01515400","low24hr":"0.01398953"},"XMR_NXT":{"id":140,"last":"0.00053952","lowestAsk":"0.00053952","highestBid":"0.00053432","percentChange":"-0.01219378","baseVolume":"189.40132761","quoteVolume":"345795.60550242","isFrozen":"0","high24hr":"0.00055548","low24hr":"0.00052903"},"XMR_QORA":{"id":141,"last":"0.00000632","lowestAsk":"0.00000631","highestBid":"0.00000623","percentChange":"-0.01557632","baseVolume":"0.85677795","quoteVolume":"135485.54571583","isFrozen":"0","high24hr":"0.00000640","low24hr":"0.00000626"},"BTC_IOC":{"id":143,"last":"0.00035900","lowestAsk":"0.00035944","highestBid":"0.00035396","percentChange":"0.02776982","baseVolume":"27.72232624","quoteVolume":"83546.87774215","isFrozen":"0","high24hr":"0.00037000","low24hr":"0.00030000"},"BTC_ETH":{"id":148,"last":"0.01213345","lowestAsk":"0.01213345","highestBid":"0.01213200","percentChange":"0.01611674","baseVolume":"2377.78603897","quoteVolume":"197180.98896214","isFrozen":"0","high24hr":"0.01222400","low24hr":"0.01188000"},"USDT_ETH":{"id":149,"last":"12.82522187","lowestAsk":"12.85000000","highestBid":"12.82522187","percentChange":"0.00432434","baseVolume":"86195.59446964","quoteVolume":"6738.79068569","isFrozen":"0","high24hr":"12.91999990","low24hr":"12.72870016"},"BTC_SC":{"id":150,"last":"0.00000033","lowestAsk":"0.00000033","highestBid":"0.00000032","percentChange":"0.00000000","baseVolume":"31.82254224","quoteVolume":"97503852.03100918","isFrozen":"0","high24hr":"0.00000034","low24hr":"0.00000032"},"BTC_BCY":{"id":151,"last":"0.00022404","lowestAsk":"0.00022448","highestBid":"0.00022426","percentChange":"-0.01395185","baseVolume":"9.97053347","quoteVolume":"43897.84232774","isFrozen":"0","high24hr":"0.00024425","low24hr":"0.00022072"},"BTC_EXP":{"id":153,"last":"0.00025060","lowestAsk":"0.00025207","highestBid":"0.00025059","percentChange":"-0.08480023","baseVolume":"57.00015697","quoteVolume":"227421.86720854","isFrozen":"0","high24hr":"0.00027392","low24hr":"0.00023928"},"BTC_FCT":{"id":155,"last":"0.00309896","lowestAsk":"0.00309897","highestBid":"0.00309896","percentChange":"0.00428096","baseVolume":"298.66236518","quoteVolume":"98315.49916051","isFrozen":"0","high24hr":"0.00311001","low24hr":"0.00297105"},"BTC_RADS":{"id":158,"last":"0.00040022","lowestAsk":"0.00040221","highestBid":"0.00040021","percentChange":"-0.06782503","baseVolume":"8.01278692","quoteVolume":"19809.33925603","isFrozen":"0","high24hr":"0.00042645","low24hr":"0.00038936"},"BTC_AMP":{"id":160,"last":"0.00004223","lowestAsk":"0.00004223","highestBid":"0.00004222","percentChange":"0.00667461","baseVolume":"39.60841915","quoteVolume":"941169.26047651","isFrozen":"0","high24hr":"0.00004395","low24hr":"0.00004118"},"BTC_VOX":{"id":161,"last":"0.00000892","lowestAsk":"0.00000892","highestBid":"0.00000891","percentChange":"-0.09533468","baseVolume":"20.92941486","quoteVolume":"2299948.76370371","isFrozen":"0","high24hr":"0.00000996","low24hr":"0.00000850"},"BTC_DCR":{"id":162,"last":"0.00183062","lowestAsk":"0.00183617","highestBid":"0.00183064","percentChange":"-0.07782904","baseVolume":"108.99264854","quoteVolume":"59929.05441043","isFrozen":"0","high24hr":"0.00199127","low24hr":"0.00170900"},"BTC_LSK":{"id":163,"last":"0.00013365","lowestAsk":"0.00013498","highestBid":"0.00013368","percentChange":"-0.03173223","baseVolume":"71.59124087","quoteVolume":"536944.81233788","isFrozen":"0","high24hr":"0.00013949","low24hr":"0.00012632"},"ETH_LSK":{"id":166,"last":"0.01118385","lowestAsk":"0.01119394","highestBid":"0.01118385","percentChange":"-0.03568629","baseVolume":"26.45187937","quoteVolume":"2394.83013218","isFrozen":"0","high24hr":"0.01171801","low24hr":"0.01061066"},"BTC_LBC":{"id":167,"last":"0.00002011","lowestAsk":"0.00002011","highestBid":"0.00002008","percentChange":"-0.08922101","baseVolume":"28.42712343","quoteVolume":"1360789.64656551","isFrozen":"0","high24hr":"0.00002249","low24hr":"0.00002000"},"BTC_STEEM":{"id":168,"last":"0.00011598","lowestAsk":"0.00011596","highestBid":"0.00011541","percentChange":"-0.04148760","baseVolume":"128.57936611","quoteVolume":"1128818.17170985","isFrozen":"0","high24hr":"0.00012476","low24hr":"0.00010903"},"ETH_STEEM":{"id":169,"last":"0.00941535","lowestAsk":"0.00959821","highestBid":"0.00953457","percentChange":"-0.09114207","baseVolume":"1192.68200096","quoteVolume":"124967.66201642","isFrozen":"0","high24hr":"0.01015990","low24hr":"0.00912235"},"BTC_SBD":{"id":170,"last":"0.00093500","lowestAsk":"0.00093813","highestBid":"0.00093500","percentChange":"-0.00275176","baseVolume":"2.79997780","quoteVolume":"3011.39186128","isFrozen":"0","high24hr":"0.00094999","low24hr":"0.00091999"},"BTC_ETC":{"id":171,"last":"0.00115190","lowestAsk":"0.00115450","highestBid":"0.00115190","percentChange":"-0.00331392","baseVolume":"258.00698788","quoteVolume":"225176.77700827","isFrozen":"0","high24hr":"0.00116008","low24hr":"0.00110000"},"ETH_ETC":{"id":172,"last":"0.09485954","lowestAsk":"0.09485954","highestBid":"0.09457988","percentChange":"-0.01273285","baseVolume":"2148.36898600","quoteVolume":"22523.93048933","isFrozen":"0","high24hr":"0.09689296","low24hr":"0.09453116"},"USDT_ETC":{"id":173,"last":"1.22203219","lowestAsk":"1.22074211","highestBid":"1.21442398","percentChange":"-0.00656316","baseVolume":"42993.09860772","quoteVolume":"35263.91184925","isFrozen":"0","high24hr":"1.23933121","low24hr":"1.21277030"},"BTC_REP":{"id":174,"last":"0.00487881","lowestAsk":"0.00488397","highestBid":"0.00485051","percentChange":"0.04270134","baseVolume":"36.98232217","quoteVolume":"7803.57796005","isFrozen":"0","high24hr":"0.00488779","low24hr":"0.00465004"},"USDT_REP":{"id":175,"last":"5.14338950","lowestAsk":"5.14338951","highestBid":"5.14338950","percentChange":"0.02979230","baseVolume":"6033.24737773","quoteVolume":"1187.56002027","isFrozen":"0","high24hr":"5.14338950","low24hr":"4.96700000"},"ETH_REP":{"id":176,"last":"0.39800000","lowestAsk":"0.40104891","highestBid":"0.39928982","percentChange":"0.01643047","baseVolume":"45.37844083","quoteVolume":"115.53687472","isFrozen":"0","high24hr":"0.40000000","low24hr":"0.38742000"},"BTC_ARDR":{"id":177,"last":"0.00001470","lowestAsk":"0.00001481","highestBid":"0.00001471","percentChange":"-0.03479973","baseVolume":"45.67874225","quoteVolume":"3099939.80395740","isFrozen":"0","high24hr":"0.00001529","low24hr":"0.00001411"},"BTC_ZEC":{"id":178,"last":"0.02936000","lowestAsk":"0.02936085","highestBid":"0.02936000","percentChange":"-0.02662169","baseVolume":"223.46178247","quoteVolume":"7596.16611890","isFrozen":"0","high24hr":"0.03016299","low24hr":"0.02872747"},"ETH_ZEC":{"id":179,"last":"2.43552886","lowestAsk":"2.44088342","highestBid":"2.41658529","percentChange":"-0.02977626","baseVolume":"977.89978258","quoteVolume":"406.39258734","isFrozen":"0","high24hr":"2.50713146","low24hr":"2.30000000"},"USDT_ZEC":{"id":180,"last":"31.10000000","lowestAsk":"31.25000000","highestBid":"31.10000000","percentChange":"-0.02939150","baseVolume":"17460.55700219","quoteVolume":"558.75678808","isFrozen":"0","high24hr":"32.15990079","low24hr":"30.71000000"},"XMR_ZEC":{"id":181,"last":"2.29507070","lowestAsk":"2.35876726","highestBid":"2.29108256","percentChange":"-0.02541367","baseVolume":"79.85833771","quoteVolume":"34.92598395","isFrozen":"0","high24hr":"2.38779999","low24hr":"1.62200000"},"BTC_STRAT":{"id":182,"last":"0.00007243","lowestAsk":"0.00007351","highestBid":"0.00007324","percentChange":"-0.04997376","baseVolume":"82.72893922","quoteVolume":"1143175.98429733","isFrozen":"0","high24hr":"0.00007804","low24hr":"0.00006700"},"BTC_NXC":{"id":183,"last":"0.00007761","lowestAsk":"0.00007898","highestBid":"0.00007762","percentChange":"0.10131971","baseVolume":"241.89703926","quoteVolume":"3446043.77243740","isFrozen":"0","high24hr":"0.00008059","low24hr":"0.00006100"},"BTC_PASC":{"id":184,"last":"0.00023483","lowestAsk":"0.00023602","highestBid":"0.00023484","percentChange":"0.00746492","baseVolume":"302.45772845","quoteVolume":"1301244.04906386","isFrozen":"0","high24hr":"0.00026701","low24hr":"0.00020990"},"BTC_GNT":{"id":185,"last":"0.00003493","lowestAsk":"0.00003492","highestBid":"0.00003489","percentChange":"-0.01605633","baseVolume":"4920.34667045","quoteVolume":"131427391.96328267","isFrozen":"0","high24hr":"0.00005300","low24hr":"0.00003043"},"ETH_GNT":{"id":186,"last":"0.00293206","lowestAsk":"0.00293206","highestBid":"0.00287021","percentChange":"0.02578401","baseVolume":"10139.36828773","quoteVolume":"3073216.00663499","isFrozen":"0","high24hr":"0.00483174","low24hr":"0.00260000"}}'
  recorded_at: Sun, 19 Feb 2017 06:22:56 GMT
- request:
    method: get
    uri: https://www.worldcoinindex.com/widget/renderWidget?clearstyle=true&from=STEEM&ms5=dd5260bf3249231b0c785213fd9e976acd71c45f243e719f1fada0b7b72b0868&size=large&to=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Miniprofiler-Ids:
      - '["e5d3829b-6771-40ee-88b7-4efc6c1bbca9"]'
    body:
      encoding: ASCII-8BIT
      string: "\r\n<html>\r\n<head>\r\n    <title></title>\r\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin\">\r\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"/content/css/bootstrap.min.css\">\r\n
        \       <link rel=\"stylesheet\" type=\"text/css\" href=\"/content/widgets/css/widget_large.css\">\r\n
        \   <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"
        type=\"text/javascript\"></script>\r\n    <script src=\"/Content/jquery.flot.js\"
        type=\"text/javascript\"></script>\r\n    <script src=\"/Content/jquery.flot.time.js\"
        type=\"text/javascript\"></script>\r\n</head>\r\n<body>\r\n    <div class=\"container\">\r\n
        \       <div class=\"content\">\r\n\r\n                   <div class=\"header\">\r\n
        \                   <table>\r\n                            <tr>\r\n                                <td
        class=\"image\"> <img src=\"https://www.worldcoinindex.com/Content/img/coins/v-504911268000000000/Steem.png\"
        width=\"45\"/></td>\r\n                                 <td class=\"primaryname\"><span>steem</span></td>\r\n
        \                                <td class=\"primarycode\"><span>STEEM</span></td>\r\n
        \                           </tr>\r\n                        </table>\r\n
        \               </div>\r\n                 <div style=\"overflow: hidden;
        margin-bottom: 5px\">\r\n                    <div class=\"name\" style=\"margin-top:6px;\"><span>Last
        price</span></div>\r\n                    <div class=\"price\"><span>$ </span><span>0.1219685</span></div>\r\n
        \               </div>\r\n                <div style=\"overflow: hidden; margin-bottom:
        5px\">\r\n                    <div class=\"name\" style=\"margin-top:6px;\"><span>%</span></div>\r\n
        \                   <div class=\"percentage-col\">\r\n                          [...]
- request:
    method: get
[...]
