%ul.list-group
  %li.list-group-item
    = link_to 'Discussions', discussions_url, class: 'btn btn-primary'
    &nbsp;
    %strong Posts -
    &nbsp;
    Various ways of finding discussions.
  %li.list-group-item
    = link_to 'Follow', follows_url, class: 'btn btn-primary'
    &nbsp;
    %strong Following / Follower -
    &nbsp;
    Various ways of looking at your followers and those who are following you.